<br><br>
<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
         <div class="text-center">   
            <h3  style="color: cornflowerblue;">Finance Application</h3>
        </div>
            <p class="text-justify">
                Finance Application is best app to manage your expences based on your Categories. It is helpful to maintain your record of daily expenditure.
                You stay with in budget and Save more money every month. You can check how much you spend on food,shopping,health,etc.
                This app is free of cost.
            </p>
            <div class="text-justify">
                <h6>Features</h6>
                <ol>
                    <li>Manage Categories where you spend money.</li>
                    <li>Manage Expenses how much you spend money in particular category.</li>
                    <li>You can edit and delete categories and expences according to your requirements.</li>
                    <li>You can check summary of expences in which total amount of money you spend in particular category </li>
                    <li>There is profile section where you edit your Username and Profile</li>
                    <li>You can resolve your any query in help section. </li>
                    <li>Mobile Responsive Application</li>
                </ol>
            </div>
            <!-- <div class="text-justify">
                <h6>Appplication Info</h6>
                <ul>
                    <li>Version        -  2.0</li>
                    <li>Updated on     -  13/08/2020</li>
                    <li>Download Size  -  3 MB</li>
                    <li>Offered by     -  Jai Singhal Pvt. Ltd.</li>
                    <li>Released on    -  13/08/2020</li>
                </ul>
            </div> -->
            <!-- <div class="text-justify">
                <h6>Developer Info</h6>
                <ul>
                    <li>Full stack Web developer.</li>
                    <li>CEO of Jai Singhal Pvt. Ltd.</li>
                    <li>Developed 1000+ Client Projects.</li>
                    <li>Working on startup named as JSPN</li>
                </ul>
            </div> -->
        </div>
        
        <div class="col-sm-4"></div>
    </div>
</div>
